{% extends 'base.html' %}
{#{% block self_head_css_js %}#}
{#    <link href="/static/css/plugins/chosen/chosen.css" rel="stylesheet">#}
{#    <script src="/static/js/plugins/chosen/chosen.jquery.js"></script>#}
{#    <script src="/static/js/jquery-ui-1.12.1/jquery-ui.min.js"></script>#}
{#{% endblock %}#}
{#{% load mytags %}#}
{#{% load bootstrap %}#}

{% block content %}
{% include 'nav_cat_bar.html' %}
{#select列表样式#}
<style>
    .input-btn {
        display: inline;
        border: 1px solid #ddd;
        color: #373a3c;
        vertical-align: middle;
        background: #fff;
        text-align: center;
        height: 34px;
        padding: 8px 12px;
        margin-left: -4px;
    }
</style>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-10">
            <div class="ibox float-e-margins">
                <div id="ibox-content" class="ibox-title">
                    <h5> 编辑服务信息 </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="panel blank-panel">

                        <div class="panel-body">

                            <div class="tab-content">

                                <div id="tab-1" class="ibox float-e-margins tab-pane active">

{#                                <div id="tab-1" class="">#}

                                    <div class="alert alert-warning text-center" style="display: none"></div>

                                    <div class="alert alert-success text-center" style="display: none"></div>

                                    <form id="id_addform" target="_self" method="post" class="form-horizontal" role="form" >{% csrf_token %}

                                        <br>
                                        <div class="form-group" >
                                            <label for="inputName" class="col-sm-3 control-label">部门名称</label>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control" name="name" id="inputName" value="{{ department_detail.name }}">
                                                <input type="hidden" name="old_name" value="{{ department_detail.name }}" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputMemo" class="col-sm-3 control-label">备注</label>
                                            <div class="col-sm-5">
                                                <textarea rows="3" id="inputMemo" class="form-control" name="memo">{{ department_detail.memo }}</textarea>
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-4">
                                                <button onclick="javascript:history.go(-1);location.reload()" type="button" class="btn btn-default">返回</button>
                                                <button type="submit" class="btn btn-primary">确定</button>
                                            </div>
                                        </div>

                                    </form>
{#                                </div>#}


                                </div>  <!--tab-1 -->
                            </div> <!--tab-content -->
                        </div>   <!--panel-body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block self_footer_js %}
<script>
    var required_fields = ["inputName"];
    required_fields.forEach(function(field) {
        $('label[for="' + field + '"]').parent().addClass("required");
    });
    $('#id_addform').validator({
        timely: 1,
        theme: "yellow_right_effect",
        fields: {
            "name": {
                rule: "required",
                tip: "输入部门名称",
                ok: "",
                msg: {required: "部门名称必须填写!"},
                data: {'data-ok':"部门名称可以使用"}
            },
        },
        valid: function(form) {
{#            form.submit();#}
            $.ajax({
                type: "POST",
                url:"{% url 'departments_edit' %}",
                data:$('#id_addform').serialize(),
                traditional: true,
                dataType: "json",   //返回的数据类型
                success: function (data) {
                    if (data.smg != ''){
                        console.log(data.smg);
                        $(".alert-success").text(data.smg);
                        $(".alert-success").show();
                        $(".alert-warning").hide();
                    }
                    else if (data.emg != '') {
                        console.log(data.emg);
                        $(".alert-warning").text(data.emg);
                        $(".alert-warning").show();
                        $(".alert-success").hide();
                    }

                },
            });

        }
    });




</script>



{% endblock %}