{% extends 'base.html' %}
{#{% load mytags %}#}
{% block content %}
{% include 'nav_cat_bar.html' %}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins" id="all">
                <div class="ibox-title">
                    <h5> 供货商/厂商列表</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <form id="asset_form">
                        <div class="col-sm-1" style="padding-left: 0">
                            <a class="btn btn-sm btn-primary" href="{% url 'company_add' %}"> 添加商家 </a>
                        </div>

                        <div class="col-sm-7" style="padding-left: 0px">
{#                            <label>#}
{#                                <select name="idc" class="form-control m-b" onchange="change_info()" >  {# onchange="change_info()" #}
{#                                    <option value="">- 占用状态 -</option>#}
{#                                    {% for status in use_status %}#}
{#                                        {% ifequal idc.name idc_name %}#}
{#                                            <option value="{{idc.name}}" selected> {{ idc.name|slice:":20" }}</option>#}
{#                                        {% else %}#}
{#                                            <option value="{{ status.0 }}"> {{ status.1 }}</option>#}
{#                                        {% endifequal %}#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                            </label>#}
                        </div>

                        <div class="col-sm-4" style="padding-right: 0">
                             <div class="input-group inline-group">
                                <input type="text" class="form-control m-b input-sm" id="search_input" name="keyword" value="{{ keyword }}" placeholder="Search">
                                <input type="text" style="display: none">
                                <div class="input-group-btn">
                                    <button id='search_btn' href="#" type="button" class="btn btn-sm btn-primary search-btn">
                                        - 搜索 -
                                    </button>
                                    <button type="button" href="#" name="export" class="btn btn-sm btn-success search-btn-excel" onclick="return false">
                                        - 导出 -
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="export"></div>
                        <table class="table table-striped table-bordered table-hover " id="editable" name="editable">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        <input id="checkall" type="checkbox" class="i-checks" name="checkall" value="checkall" data-editable='false'>
                                    </th>
                                    <th class="text-center"> 公司名称 </th>
                                    <th class="text-center"> 公司地址 </th>
                                    <th class="text-center"> 联系人 </th>
                                    <th class="text-center"> 备注 </th>
                                    <th class="text-center"> 操作 </th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for company in company_list %}
                                <tr class="gradeX">
                                    <td class="text-center" name="id" value="{{ company.id }}" data-editable='false'>
                                        <input name="id" value="{{ company.id }}" type="checkbox" class="i-checks">
                                    </td>
                                    <td class="text-center hostname"> <a href="#">{{ company.name|default_if_none:"" }}</a></td>
                                    <td class="text-center"> {{ company.address|default_if_none:"" }} </td>
{#                                    <td class="text-center"> {{ company.contact.name|default_if_none:"" }} </td>#}
                                    <td class="text-center">  </td>
                                    <td class="text-center"> {{ company.memo|default_if_none:"" }} </td>
                                    <td class="text-center" data-editable='false'>
                                        <a href="#" class="btn btn-xs btn-info">编辑</a>
                                        <a value="#" class="conn btn btn-xs btn-warning">更新</a>
                                        <a value="#" class="btn btn-xs btn-danger asset_del">删除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="button" id="company_del" class="btn btn-danger btn-sm"  name="del_button" value="删除"/>
                                <a value="" type="button" class="btn btn-sm btn-warning iframe">修改</a>
                                <input type="button" id="company_update" class="btn btn-info btn-sm"  name="update_button" value="更新"/>
{#                                <input type="button" id="asset_update_all" class="btn btn-primary btn-sm"  name="update_button" value="更新全部"/>#}
                            </div>
                            {% include 'paginator.html' %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}

{% block self_footer_js %}
{% endblock %}

