{% extends 'base.html' %}
{#{% block self_head_css_js %}#}
{#    <link href="/static/css/plugins/chosen/chosen.css" rel="stylesheet">#}
{#    <script src="/static/js/plugins/chosen/chosen.jquery.js"></script>#}
{#    <script src="/static/js/jquery-ui-1.12.1/jquery-ui.min.js"></script>#}
{#{% endblock %}#}
{#{% load mytags %}#}
{#{% load bootstrap %}#}

{% block content %}
{% include 'nav_cat_bar.html' %}
{#select列表样式#}
<style>
    .select2-container--bootstrap .select2-selection {
        border-radius: 1px;
        border: 1px solid #e5e6e7;
        color: #e5e6e7;
    }
    .select2-container--bootstrap {
        width: 100% !important;
    }
    .select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {
        border-color: #1ab394;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .select2-container--bootstrap .select2-dropdown {
        border-color: #1ab394;
    }
    .select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
        background-color:#1ab394;
        color:#fff;
    }
    .input-btn {
        display: inline;
        border: 1px solid #ddd;
        color: #373a3c;
        vertical-align: middle;
        background: #fff;
        text-align: center;
        height: 34px;
        padding: 8px 12px;
        margin-left: -4px;
    }
</style>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-10">
            <div class="ibox float-e-margins">
                <div id="ibox-content" class="ibox-title">
                    <h5> 填写IP基本信息 </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="panel blank-panel">

                        <div class="panel-body">

                            <div class="tab-content">

                                <div id="tab-1" class="ibox float-e-margins tab-pane active">

{#                                <div id="tab-1" class="">#}

                                    <div class="alert alert-warning text-center" style="display: none"></div>

                                    <div class="alert alert-success text-center" style="display: none"></div>

                                    <form id="id_addform" target="_self" method="post" class="form-horizontal" role="form" >{% csrf_token %}

                                        <br>
                                        <div class="form-group" >
                                            <label for="inputIP" class="col-sm-3 control-label">IP地址</label>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control" name="ipaddress" id="inputIP" value="{{ ip_detail.ipaddress }}" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="selectSegment" class="col-sm-3 control-label">所属网段</label>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control" name="segment" id="selectSegment" value="{{ ip_detail.segment.address }}/{{ ip_detail.segment.mask }}" readonly>
{#                                                <select id="selectSegment" name="segment" class="form-control m-b select2" aria-required="true">#}
{#                                                    <option></option>#}
{#                                                    {% for choice in segment_choices %}#}
{#                                                        <option value="{{choice.id}}"> {{ choice.address }}</option>#}
{#                                                    {% endfor %}#}
{#                                                </select>#}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="selectStatus" class="col-sm-3 control-label">占用状态</label>
                                            <div class="col-sm-5">
{#                                                <input type="text" class="form-control" name="address" id="inputAddr" placeholder="">#}
                                                <select id="selectStatus" name="status" class="form-control m-b" aria-required="true">
                                                    {% for choice in status_choices %}
                                                        {% if choice.0 == ip_detail.status %}
                                                            <option value="{{ choice.0 }}" selected> {{ choice.1 }}</option>
                                                        {% else %}
                                                            <option value="{{ choice.0 }}"> {{ choice.1 }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputUser" class="col-sm-3 control-label">占用人</label>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control" name="user" id="inputUser" value="{{ ip_detail.user }}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="selectService" class="col-sm-3 control-label">服务信息</label>
                                            <div class="col-sm-5">
                                                <select class="form-control select2" name="service" aria-required="true"
                                                        id="selectService">
                                                    <option></option>
                                                    {% for choices in service_choices %}
                                                        {% if ip_detail.service_id == choices.id %}
                                                            <option value="{{ choices.id }}" selected> {{ choices.name }}</option>
                                                        {% else %}
                                                            <option value="{{ choices.id }}"> {{ choices.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputMemo" class="col-sm-3 control-label">备注</label>
                                            <div class="col-sm-5">
                                                <textarea rows="3" id="inputMemo" class="form-control" name="memo">{{ ip_detail.memo }}</textarea>
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-4">
{#                                                <button onclick="window.location.href='{% url 'manage_models' %}'" type="button" class="btn btn-default">取消</button>#}
                                                <button onclick="javascript:history.go(-1);location.reload()" type="button" class="btn btn-default">返回</button>
                                                <button type="submit" class="btn btn-primary">确定</button>
                                            </div>
                                        </div>

                                    </form>
{#                                </div>#}


                                </div>  <!--tab-1 -->
                            </div> <!--tab-content -->
                        </div>   <!--panel-body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block self_footer_js %}
<script>
    var required_fields = ["inputIP"];
    required_fields.forEach(function(field) {
        $('label[for="' + field + '"]').parent().addClass("required");
    });
    $('#id_addform').validate({
        rules:{
            ipaddress:{
                required:true,
            },
        },
        submitHandler:function(form){
            $.ajax({
                type: "POST",
                url:"{% url 'network_ip_edit' %}",
                data:$('#id_addform').serialize(),
                traditional: true,
                dataType: "json",   //返回的数据类型
                success: function (data) {
                    if (data.smg != ''){
                        console.log(data.smg);
                        $(".alert-success").text(data.smg);
                        $(".alert-success").show();
                        $(".alert-warning").hide();
                    }
                    else if (data.emg != '') {
                        console.log(data.emg);
                        $(".alert-warning").text(data.emg);
                        $(".alert-warning").show();
                        $(".alert-success").hide();
                    }
                    else {
                        $(".alert-warning").hide();
                        $(".alert-success").hide();
                    }

                },
            }); <!-- ajax end-->
        }

    }); <!--validate end -->

    $(document).ready(function() {
{#        $('#selectSegment').select2({#}
{#            language: "zh-CN",#}
{#            placeholder: "请选择网段",#}
{#            allowClear: true,#}
{#            theme: "bootstrap",#}
{#        });#}
{#        $('#selectStatus').select2({#}
{#            language: "zh-CN",#}
{#            placeholder: "请选择状态",#}
{#            allowClear: true,#}
{#            theme: "bootstrap",#}
{#        });#}
        $('#selectService').select2({
            language: "zh-CN",
            placeholder: "请选择服务",
            allowClear: true,
            theme: "bootstrap",
        });

        $(".col-sm-5").delegate("span.select2-selection__clear","mouseover",function(){
            $(this).attr("title","清空");
        });
    });
</script>

{% endblock %}