<script src="/static/js/jquery-2.1.1.js"></script>
<script src="/static/js/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/base.js"></script>

<!-- pop windows -->
<script src="/static/js/jquery.colorbox.js"></script>

<!-- validator js -->
<script src="/static/js/validator/jquery.validator.js"></script>
<script src="/static/js/validator/zh_CN.js"></script>

<!-- validation js -->
<script src="/static/js/plugins/jquery-validation-1.14.0/jquery.validate.min.js"></script>
<script src="/static/js/plugins/jquery-validation-1.14.0/additional-methods.min.js"></script>
<script src="/static/js/plugins/jquery-validation-1.14.0/localization/messages_zh.min.js"></script>
{#<script src="/static/js/plugins/datepicker/bootstrap-datepicker.js"></script>#}
{#<script src="/static/js/plugins/datepicker/bootstrap-datepicker.zh-CN.min.js"></script>#}

<!-- bootstrap-table js -->
<!-- https://github.com/wenzhixin/bootstrap-table/tree/master/src/extensions/export-->
<!-- https://github.com/hhurz/tableExport.jquery.plugin -->
<script src="/static/js/plugins/table/bootstrap-table.js"></script>
<script src="/static/js/plugins/table/bootstrap-table-zh-CN.js"></script>
<script src="/static/js/plugins/table/bootstrap-table-reorder-columns.js"></script>
<script src="/static/js/plugins/table/jquery.dragtable.js"></script>
<script src="/static/js/plugins/table/export/bootstrap-table-export.js"></script>
<script src="/static/js/plugins/table/export/tableExport.min.js"></script>
<script src="/static/js/plugins/table/export/FileSaver/FileSaver.min.js"></script>
<script src="/static/js/plugins/table/export/html2canvas/html2canvas.min.js"></script>
<script src="/static/js/plugins/table/export/jsPDF/jspdf.min.js"></script>
<script src="/static/js/plugins/table/export/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
<script src="/static/js/plugins/table/export/js-xlsx/xlsx.core.min.js"></script>

<script src="/static/js/plugins/table/filter-control/bootstrap-table-filter-control.min.js"></script>

{#<script src="/static/js/plugins/table/resizableColumns/store.min.js"></script>#}
{#<script src="/static/js/plugins/table/resizableColumns/jquery.resizableColumns.min.js"></script>#}

<script src="/static/js/plugins/table/colResizable-1.6/colResizable-1.6.min.js"></script>


{#<script src="/static/js/plugins/chosen/chosen.jquery.js"></script>#}
{#<script src="/static/js/jquery-ui-1.12.1/jquery-ui.min.js"></script>#}

<script src="/static/js/plugins/select2-4.0.3/select2.full.min.js"></script>
<script src="/static/js/plugins/select2-4.0.3/zh-CN.js"></script>

{#<script src="/static/js/plugins/flatpickr/flatpickr.js"></script>#}
{#<script src="/static/js/plugins/flatpickr/zh.js"></script>#}

<script src="/static/js/plugins/moment-2.17.1/moment-with-locales.js"></script>
{#<script src="/static/js/plugins/moment-2.17.1/moment.min.js"></script>#}
{#<script src="/static/js/plugins/moment-2.17.1/locale/zh-cn.js"></script>#}
<script src="/static/js/plugins/datetimepicker-v4.17.42/bootstrap-datetimepicker.min.js"></script>