{% extends 'base.html' %}
{#{% load mytags %}#}
{% block content %}
{% include 'nav_cat_bar.html' %}
<style>
    .columns .btn {
        border: 1px solid #ccc;
    }
    .wrapper-content {
      padding: 20px 10px 0px;
    }
</style>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins" id="search">
                <div class="ibox-title">
                    <h5>查询条件设置</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content" id="collapseOne">
                    <form id="id_searchform" target="_self" method="post" class="form-horizontal" role="form" >{% csrf_token %}

                        <table class="detail_tab" name="search_table">
                            <tbody>
                                <tr>
                                    <td>设备名称</td>
                                    <td>
                                        <input type="text" name="name" id="inputName">
                                    </td>

                                    <td>资产编号</td>
                                    <td>
                                        <input type="text" name="asset_number" id="inputNumber">
                                    </td>
                                </tr>

                                <tr>
                                    <td>设备管理人</td>
                                    <td>
                                        <input type="text" name="sn" id="inputSN">
                                    </td>

                                    <td>设备状态</td>
                                    <td>
                                        <input type="text" name="model" id="inputModel">
                                    </td>
                                </tr>

                                <tr>
                                    <td>序列号</td>
                                    <td>
                                        <input type="text" name="asset_admin" id="inputAssetadmin" value="{{ asset_obj.asset_admin }}">
                                    </td>

                                    <td>IP地址</td>
                                    <td>
                                        <input type="text" name="status" id="inputStatus" value="{{ asset_obj.status }}">
                                    </td>
                                </tr>

                                <tr>
                                    <td>服务名称</td>
                                    <td>
                                        <input type="text" name="online_date" id="inputOnlinedate"  value="{{ asset_obj.online_date | date:"Y-m-d" }}">
                                    </td>

                                    <td>服务等级</td>
                                    <td>
                                        <input type="text" name="" id="inputOfflinedate" value="{{ asset_obj.offline_date | date:"Y-m-d" }}">
                                    </td>
                                </tr>

                                <tr>
                                    <td>设备类型</td>
                                    <td>
                                        <input type="text" name="create_person" id="inputCreateperson" value="{{ asset_obj.create_person}}" readonly>
                                    </td>

                                    <td>设备型号</td>
                                    <td>
                                        <input type="text" name="create_date" id="inputCreatedate" value="{{ asset_obj.create_date | date:"Y-m-d" }}" readonly>
                                    </td>
                                </tr>

                                <tr>
                                    <td>所在机柜</td>
                                    <td>
                                        <input type="text" name="update_person" id="inputUpdateperson" value="{{ asset_obj.update_person }}" readonly>
                                    </td>

                                    <td>操作系统</td>
                                    <td>
                                        <input type="text" name="update_date" id="inputUpdateperson" value="{{ asset_obj.update_date | date:"Y-m-d"  }}" readonly>
                                    </td>
                                </tr>

                                <tr>
                                    <td>上架时间</td>
                                    <td>
                                        <input type="text" name="qrcode" id="inputQrcode">
                                    </td>

                                    <td>下架时间</td>
                                    <td>
                                        <input type="text" name="offline_date" id="inputPicture">
                                    </td>
                                </tr>

                                <tr>
                                    <td>备注</td>
                                    <td >
                                        <input type="text" name="memo" id="inputMemo">
                                    </td>
                                </tr>
                            </tbody>
                        </table> <!-- baseinfo table end -->

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-2 pull-right">
                                <button onclick="javascript:history.go(-1);location.reload()" type="button" class="btn btn-warnning">重置</button>
                            </div>
                            <div class="col-sm-1 pull-right">
                                <button type="submit" class="btn btn-primary">查询</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins" id="all">
                <div class="ibox-title">
                    <h5> 主机详细信息列表</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <div id="toolbar" class="btn-group">
                        <button id="btn_add" type="button" class="btn btn-primary" onclick="window.location.href='{% url 'asset_add' %}?asset_type=server'">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                        </button>
                        <button id="btn_delete" type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
                        </button>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span class="alert alert-warning text-center" style="display: none;height: 80%">{{ emg }}</span>
                        <span class="alert alert-success text-center" style="display: none;height: 80%">{{ smg }}</span>
                    </div>
                    <table id="id_table" class="table table-bordered table-striped" data-reorderable-columns="false"></table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block self_footer_js %}
    <script>
        $(function () {

            //1.初始化Table
            var oTable = new TableInit();
            oTable.Init();

            //2.初始化Button的点击事件
            var oButtonInit = new ButtonInit();
            oButtonInit.Init();

        });


        var TableInit = function () {
            var oTableInit = new Object();
            //初始化Table
            oTableInit.Init = function () {
                $('#id_table').bootstrapTable({
                    url: '{% url 'asset_list' %}',         //请求后台的URL（*）
                    method: 'get',                      //请求方式（*）
                    toolbar: '#toolbar',                //工具按钮用哪个容器
                    striped: true,                      //是否显示行间隔色
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: true,                   //是否显示分页（*）
                    sortable: true,                     //是否启用排序
                    sortOrder: "asc",                   //排序方式
                    queryParams: oTableInit.queryParams,//传递参数（*）
                    queryParamsType:'',                 //默认值为 'limit' ,在默认情况下 传给服务端的参数为：offset,limit,sort
                                                        // 设置为 '' 在这种情况下传给服务器的参数为：pageSize,pageNumber
                    sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                    pageNumber:1,                       //初始化加载第一页，默认第一页
                    pageSize: 10,                       //每页的记录行数（*）
                    pageList: [10, 25, 50, 100, '所有'],        //可供选择的每页的行数（*）
                    search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                    strictSearch: false,                //设置为 true启用 全匹配搜索，否则为模糊搜索
                    showColumns: true,                  //是否显示所有的列
                    showRefresh: true,                  //是否显示刷新按钮
                    minimumCountColumns: 2,             //最少允许的列数
                    clickToSelect: true,                //是否启用点击选中行
        {#            height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度#}
                    uniqueId: "name",                     //每一行的唯一标识，一般为主键列
                    showToggle:true,                    //是否显示详细视图和列表视图的切换按钮
                    cardView: false,                    //是否显示详细视图
                    detailView: false,                   //是否显示详细页面模式

                    showExport:true,         //是否显示导出
                    exportDataType:'all',   //'basic', 'all', 'selected' 表示导出的模式是当前页、所有数据还是选中数据
                    exportTypes:['json', 'xml', 'csv', 'txt', 'sql', 'excel'],   //default: ['json', 'xml', 'csv', 'txt', 'sql', 'excel']

                    filterControl:true,      //显示列过滤框

                    columns: [{                   //列参数
                        checkbox: true,
                    }, {
                        field: 'name',               //跟后台传过来的字段名一直
                        title: '设备名称',
                        align: "center",
                        valign: "middle",
                        sortable:true,

                        searchable:true,
                        filterControl:'input',


                        formatter: function (value,row) {
                            //通过formatter可以自定义列显示的内容
                            // value：当前field的值，即id
                            // row：当前行的数据
                            // index: 当前行的行索引，从0开始
                            // $detail：当前行下面创建的新行里面的td对象。
                            var name = '<a href="{% url 'asset_detail' %}?asset_name='+value+'&asset_type='+row['asset_type_key']+ '" >'+value+'</a>';
                            return name;
                        }
                    }, {
                        field: 'asset_type',
                        title: '设备类型',
                        align: "center",
                        valign: "middle",
                        searchable:true,
                        filterControl:'input',
                    }, {
                        field: 'asset_admin',
                        title: '设备管理人',
                        align: "center",
                        valign: "middle",
                        searchable:true,
                        filterControl:'select',
                        alignmentSelectControlOptions:'right',

                    },{
                        field: 'status',
                        title: '设备状态',
                        align: "center",
                        valign: "middle",
                        searchable:true,
                        filterControl:'select',
                        alignmentSelectControlOptions:'right',
                    },{
                        field: 'ip',
                        title: 'IP',
                        align: "center",
                        valign: "middle",
                        searchable:true,
                        filterControl:'input',
                    },{
                        field: 'service',
                        title: '服务名称',
                        align: "center",
                        valign: "middle",
                        searchable:true,
                        filterControl:'input',
                    },{
                        field: 'idc',
                        title: '所在机房',
                        align: "center",
                        valign: "middle",
                        searchable:true,
                        filterControl:'input',
                    },{
                        field: 'cabinet',
                        title: '所在机柜',
                        align: "center",
                        valign: "middle",
                        searchable:true,
                        filterControl:'input',
                    },{
                        field: 'memo',
                        title: '备注',
        {#                align: "center",#}
                        valign: "middle",
                        searchable:true,
                        filterControl:'input',
                    },]
                });

            };

            //这是bootstrap-table带参到后台去的代码
            oTableInit.queryParams = function (params) {
                var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                    pageNumber:params.pageNumber,  //页码
                    pageSize:params.pageSize,    //页面大小
        {#            search:params.search,#}
                    filter:params.filter,

                };
                return temp;
            };
            return oTableInit;
        };

            var ButtonInit = function () {
                var oInit = new Object();
                var postdata = {};

                oInit.Init = function () {
                    //初始化页面上面的按钮事件
                };

                return oInit;
            };
            //实现列拖拽变换表格尺寸
            $(function(){
                var onSampleResized = function(e){
                    var table = $(e.currentTarget); //reference to the resized table
                };
                $("#id_table").colResizable({
                    liveDrag:true,
                    gripInnerHtml:"<div class='grip'></div>",
                    draggingClass:"dragging",
                    onResize:onSampleResized
                });
            });

        $(document).ready(function() {
            $('#btn_delete').click(function () {

        {#        selections = $('#id_table').bootstrapTable('getSelections')#}
                var id_select = $.map($('#id_table').bootstrapTable('getSelections'),function (row){
                    return row.id
                });
                console.log('id_select:',id_select);
                if (id_select == ''){
                    alert("请至少选择一行!");
                    return false;
                }
                if (confirm("确定删除?")) {
                    $.ajax({
                        type: "post",
                        data: { "id_select": id_select},
                        traditional: true,                       /* 设置为false则后台接收到的数组名会是“id_select[]”*/
                        dataType: "json",
                        url: "{% url 'asset_delete' %}",
                        success: function (data) {
        {#                    parent.location.reload();#}
{#                            console.log(data);#}
                            $('#id_table').bootstrapTable("remove",{
                                field: "id",
                                values: id_select
                            });
                            if (data.smg != ''){
                                console.log(data.smg);
                                $(".alert-success").text(data.smg);
                                $(".alert-success").show().delay(5000).fadeOut();
                                $(".alert-warning").hide();
                            }
                            else if (data.emg != '') {
                                console.log(data.emg);
                                $(".alert-warning").text(data.emg);
                                $(".alert-warning").show().delay(5000).fadeOut();
                                $(".alert-success").hide();
                            }
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
